<%- include('../partials/header.ejs') %>
<%- include('../partials/navbar.ejs') %>

<section class="container py-5">
  <div class="card">
    <div class="card-header">
      <h3 class="mb-0">Novo Usuário</h3>
    </div>
    <div class="card-body">
      <form action="/users/create" method="POST">
        <div class="mb-3">
          <label for="name" class="col-form-label">Nome</label>
          <input type="text" name="name" id="name" class="form-control" placeholder="Nome do usuário" required>
        </div>
        <div class="mb-3">
          <label for="email" class="col-form-label">E-mail</label>
          <input type="email" name="email" id="email" class="form-control" placeholder="email@exemplo.com" required>
        </div>
        <div class="mb-3">
          <label for="password" class="col-form-label">Senha</label>
          <input type="password" name="password" id="password" class="form-control" placeholder="Senha do usuário" required>
        </div>
        <button class="btn btn-success">Cadastrar</button>
      </form>
    </div>
  </div>
</section>

<%- include('../partials/footer.ejs') %>